@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    overflow-x: hidden;
}

.cardProduct{
  max-width: 300px;
  min-width: 200px;
}

.productName{
  font-size: calc(16px + 5 * (100vw - 320px) / (1920 - 320));
}

.producPrice{
  font-size: calc(16px + 2 * (100vw - 320px) / (1920 - 320));
}

.productH2Name{
  font-size: 22px;
  font-weight: bolder;
}

.productInfos{
  font-size: 18px;
  font-weight: bold;
}

.containerProductInfos{
  min-width: 135px;
}

.containerCar{
  min-width: 140px;
  overflow-x: auto;
}

.carProducts{
  min-width: 33px;
}

@media screen and (max-width: 1130px){
  .productName{
    font-size: calc(14px + 5 * (100vw - 320px) / (1920 - 320));
  }
  
  .producPrice{
    font-size: calc(13px + 2 * (100vw - 320px) / (1920 - 320));
  }
}

@media screen and (max-width: 310px){
  .containerCar{
    margin: 3px;
  }
}

@media screen and (max-width: 230px){
  .cardProduct{
    min-width: 140px;
  }
}

@media screen and (max-width: 177px){
  .mainTitle{
    font-size: 30px;
    padding: 2px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
